apiVersion: v1
kind: ConfigMap
metadata:
  name: azure-podvm-image-cm
  namespace: openshift-sandboxed-containers-operator
data:
  # PodVM image distro
  PODVM_DISTRO: rhel

  # Gallery
  # Set the gallery name explicitly, otherwise it'll be set by the operator to
  # PodVMGallery_${cluster-id}. If a gallery name is provided, the job will
  # use the specific gallery name.
  # Note that the gallery name must be unique across the subscription and not exceed 80 characters.
  # Also, the allowed characters are English alphanumeric characters,
  # with underscores and periods allowed in the middle
  IMAGE_GALLERY_NAME: ""

  # Image definition
  IMAGE_DEFINITION_NAME: "podvm-image"
  IMAGE_DEFINITION_PUBLISHER: "RedHat"
  IMAGE_DEFINITION_OFFER: "OSC-PodVM"
  IMAGE_DEFINITION_SKU: "OSC-PodVM"
  IMAGE_DEFINITION_OS_TYPE: "Linux"
  IMAGE_DEFINITION_OS_STATE: "Generalized"
  IMAGE_DEFINITION_VM_GENERATION: "V2"
  IMAGE_DEFINITION_ARCHITECTURE: "x64"

  # base image - should be coordinated with IMAGE_DEFINITION_VM_GENERATION
  BASE_IMAGE_PUBLISHER: "redhat"
  BASE_IMAGE_OFFER: "RHEL"
  BASE_IMAGE_SKU: "94_gen2"

  # Image
  IMAGE_BASE_NAME: "podvm-image"
  IMAGE_VERSION_MAJ_MIN: "0.0"

  # Packer VM size
  VM_SIZE: "Standard_D2as_v5"

  # Pod VM sources
  # If changing the source, then ensure the respective payload binaries are available
  # for the new source
  CAA_SRC: "https://gitlab.cee.redhat.com/osc/midstream/cloud-api-adaptor"
  CAA_REF: "v0.8.0-1.6"

  # Booleans
  INSTALL_PACKAGES: "no"
  DOWNLOAD_SOURCES: "no"
  CONFIDENTIAL_COMPUTE_ENABLED: "no"
  DISABLE_CLOUD_CONFIG: "true"
  ENABLE_NVIDIA_GPU: "no"
  UPDATE_PEERPODS_CM: "yes"
  BOOT_FIPS: "no"

  # NVIDIA GPU vars
  NVIDIA_DRIVER_VERSION: "535"
  NVIDIA_USERSPACE_VERSION: "1.13.5-1"

  # Custom Agent Policy
  #AGENT_POLICY: "" # set to base64 encoded agent policy

  # Custom bootc build configuration: https://osbuild.org/docs/bootc/#-build-config
  BOOTC_BUILD_CONFIG: |
   [[customizations.user]]
   name = "peerpod"
   password = "peerpod"
   #key = "ssh-rsa AAAA..."
   groups = ["wheel", "root"]
   
   [[customizations.filesystem]]
   mountpoint = "/"
   minsize = "5 GiB"
   
   [[customizations.filesystem]]
   mountpoint = "/var/kata-containers"
   minsize = "15 GiB"
   
   [customizations.kernel]
   append = "selinux=0 enforcing=0 audit=0"
